<!doctype html>
<html>
<head>
  <meta charset='utf-8' />
  <meta name='viewport' content='width=device-width,initial-scale=1.0' />
  <meta name='keywords' content='crypto,messaging,encrypted' />
  <meta name='theme-color' content='#552388' />
  <link rel='preload' href='/resources/lin.css' as='stylesheet' />
  <link rel='preload' href='https://fonts.googleapis.com/icon?family=Material+Icons' as='stylesheet' />
  <title>Crypto</title>
</head>
<body>
  <header><h1 id='heading'>Crypto</h1></header>
  <div id='intro'>
  </div>
  <div id='form'>
    <form>
      <label class='idfier'>Username or Email</label>
      <input type='email' id='mail' class='ip' placeholder='hashy@crypto.com' />
      <label class='idfier'>Password</label>
      <input type='password' id='pass' class='ip' placeholder='*********' />
    </form>
    <button id='login' class='auth'>Login</button>
    <button id='glin' class='auth'><img src='' alt='google login' /></button>
    <button id='flin' class='auth'><img src='' alt='fb login' /></button>
  </div>
  <button id='pop_form'>Get started</button>
<footer>
  <div class='foots'></div>
  <div class='foots'></div>
  <div class='foots'></div>
</footer>
<script src='lscript.js'></script>
</body>
<html>
